.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  height: 70px !important;
  display: flex !important;
}

.logoImg {
  height: 17px;
  width: 130px;
}

@media (width>768px) {
  .navbar-brand {
    margin-left: 200px;
  }
}

.nav-link {
  font-size: 16px !important;
  opacity: 0.8 !important;
}

.navbar-toggler {
  width: 80px;
}

/* Footer */
.footerUpPara {
  font-size: 12.8px;
  font-weight: 500;
  opacity: 0.8;
}

.socials i {
  font-size: 1.2rem;
  opacity: 0.8;
  cursor: pointer;
  margin-right: 14px;
}

.extraFooterInfo p {
  font-size: 10px;
  line-height: 1.2rem;
  opacity: 0.8;
}

.footerUl {
  list-style-type: none;
}

.list-head {
  font-size: 18px;
  font-weight: 500;
}

.footerUl li a {
  font-size: 14px;
  color: #666666;
  font-weight: normal;
}

.footerUl li a:hover {
  color: black;
}

.footerUl li {
  margin-bottom: 12px;
}

.footerContainer {
  border-top: 1px solid rgb(223, 223, 223);
}

@media (width>768px) {
  .footerContainer {
    padding: 0 100px;
  }
}
